.title {
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
}

footer {
    flex-shrink: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}